*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    background-color:black;
    display: flex;  
    justify-content: space-between;
    padding: 16px;
}

#header .logo{
    color:white;
    text-decoration: none;
}
.header-menu{
    color: gray;
    text-decoration: none;
}

/* BANNER */

#banner{
    
}

#banner video{
width:100%;
}

#banner .inner{
    position:absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 300px;
}
#banner .inner h1{
color:white;    
font-size: 46px;
}

#banner .inner p{
color:gray;
}    


/* WRAPPER */
.wrapper{
    background-image: url(../../images/bg.jpg);
    background-size: cover;

}

/* Highlights */

.highlights{    
    display: flex;
    flex-wrap: wrap;
    padding: 20px 34px;
}


.highlights section{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:320px;
    width:280px;
    margin: 10px;
}

/* CTA */
#cta{
    background-image: url(../../images/cta01.jpg);
    background-size: cover;
    height:300px;
    display: flex;
    align-items: center;
    padding: 0 80px;
}
.cta-inner{
 color:white; 
 text-align:center;
}

.cta-inner h2{
    font-size: 30px;
}
.cta-inner p{
  font-size: 14px;
}