@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    background-color:black;
    display: flex;  
    justify-content: space-between;
    padding: 16px;
}

#header .logo{
    color:white;
    text-decoration: none;
}
.header-menu{
    color: gray;
    text-decoration: none;
}

/* BANNER */


#banner video{

width:100%;
}

#banner .inner{
    position:absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 300px;
}
#banner .inner h1{
color:white;    
font-size: 46px;
}

#banner .inner p{
color:gray;
}    


/* WRAPPER */
.wrapper{
    background-image: url(../../images/bg.jpg);
    background-size: cover;

}

/* Highlights */

.inner .special{
    text-align: center;
    padding-bottom: 20px;
}

.highlights{    
    display: flex;
    flex-wrap: wrap;
    padding: 20px 34px;
}


.highlights section{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:320px;
    width:280px;
    margin: 10px;
}

/* CTA */
#cta{
    background-color: #ce1b28;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed;
    background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url(../../images/cta01.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 100px;
}
.cta-inner{
 color:white; 
 text-align:center;
}

.cta-inner h2{
    font-size: 30px;
}
.cta-inner p{
  font-size: 14px;
}

/* Testimonials */
.testimonials {
    margin: 2.5rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; 
}
.testimonials .content {
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); }
    .testimonials .content .credit strong {
      color: #ce1b28; }


.testimonials > * {
    padding: 1.5rem;
    width: calc(33.3333333333% + 1rem); }


.testimonials > :nth-child(3n + 1),
.testimonials > :nth-child(3n) {
      width: calc(33.3333333333% + -0.5rem); }
      
.testimonials .content {
      border-radius: 4px;
      height: 100%;
      padding: 3rem; }
      
.testimonials .content .author {
        display: flex;
        align-items: center; }

.testimonials .content .author blockquote {
        margin: 0; }

.testimonials .content .author .image {
        margin-right: 2rem;
        width: 20%; }

.testimonials .content .author .image img {
        border-radius: 100%;
        max-width: 100%; }

.testimonials .content .credit {
        font-size: 0.75rem; }

.testimonials .content p:last-child {
        margin: 0; }

.testimonials > div > :last-child {
      margin-bottom: 0; }

  


/* Footer */
#footer {
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    padding: 8rem 0 6rem 0 ; }

#footer input, #footer select, #footer textarea {
color: #ffffff; }

#footer strong, #footer b {
color: #ffffff; }

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
color: #ffffff; } 

#footer .content {
    display: flex; }

#footer .content section {
width: 25%; }

#footer .content section:first-child {
width: 50%;
padding-right: 4rem; }

#footer .content section:last-child {
padding-left: 4rem; }