*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color:black;
    display: flex;  
    justify-content: space-between;
    padding: 16px;
}

header .logo{
    color:white;
    text-decoration: none;
}
.header-menu{
    color: gray;
    text-decoration: none;
}